*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
}
header{
    background-color: orange ;
    color: white;
}
.logo{
    max-width: 50%;
}
.buttons{
   
    line-height: 4;
    text-align: right;
}
.button{
    background-color: orange;
    border: 0;
    color: white;
    margin: 10px;
    font-size: xx-large;
}

.button:hover{
    color: black;
}
.shopp{
 width: 30px;
}

.category:hover{
   color: black; 
}
.hlogo{
   
    text-align: center;
}
.categories{
    
    text-align: left;
    font-size: large;
    font-weight: bold;
   line-height: 4;
}
.row{
    width: 100%;
    padding-top: 100px;
    
}
.col-33{
    width: calc(100%/3 - 20px);
}
.col-50{
    width: calc(100%/2);
    text-align: center;
}
.col-25{
    width: 25%;
}
.content{
    position: relative;
    margin: 20px 10px;   
}
img{
    width: 100%;
}

/* selettori di personalizzazione */

.price{
    color: red;
}
.mark{
    text-transform: capitalize;
}
.ex-price{
    color: blue;
    text-decoration: line-through;
}
.name{
    text-transform: uppercase;
}
/* selettori hover per l'immagine del prodotto */
.hover{
    display: none;
}
.content:hover .view{
    display: none;
}
.content:hover .hover{
    display: block;
}
.heart-contain{
    background-color: whitesmoke;
    padding: 10px 20px;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: x-large;
}

.heart-hover{
    display: none;
    color: red;
}
.heart-contain:hover .heart-hover{
    display: block;
}
.heart-contain:hover .heart-view{
    display: none;
}
.info-img{
    position: absolute;
    bottom: 100px;
    left: 10px;
}
.bg-red{background-color: red;}
.bg-green{background-color: green;}

.info{
    padding:  5px;
   text-transform: uppercase;
    border-radius: 3px;
}
